.sendArea{
    margin: 5px;

}
.btn{
    padding: 5px;
    margin: 10px;
    background-color: #53270c;
    border: 1px inset darkred;
    border-radius: 50px;
    color: whitesmoke;

}
.btn:hover{
    font-weight: bold;
    cursor: pointer;
}
.ta{
    font-family: Roboto, serif;
    font-size: 16px;
    border-radius: 10px;
    margin: 0 5px 0 5px;
}