.postsBlock{
    padding: 10px;
}
.posts{
    margin-top: 10px;
    color: whitesmoke;
}
.btn{
    padding: 5px;
    margin: 10px 0 10px 0;
    background-color: #53270c;
    border: 1px inset darkred;
    border-radius: 50px;
    color: whitesmoke;

}